<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^cautsa\.com$ [NC]
RewriteRule ^(.*)$ http://cautsa.com [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

RewriteCond %{REQUEST_URI} !^/public
RewriteCond %{REQUEST_URI} !^/leaddb
RewriteRule ^(.*)$ public/$1 [L]

</IfModule>
