.facebook-wrap-login {
    text-align: center;
    
    .facebook {
        border-radius: 50px;
        display: inline-block;
        padding: 10px 25px;
        line-height: 15px;
        margin: 32px auto;
        color: #475e86;
        background-color: transparent;
        font-size: 14px;
    }
}